body {
    flex-direction: column;
    width: 100%;
    display: flex;
    position: relative;
}

.hr {
    display: flex;
    width: 80%;
    margin: 0 auto;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
}





.gallery__title {
    color: var(--color-text-primary);
    font-size: 65px;
    display: inline-block;
    /* border-bottom: 5px solid var(--color-tertiary); */
    margin-left: 10px;
    font-family: 'sketchup';
    font-weight: 400;
}



.gallery {
    padding: 30px 10px;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: 250px; */
    grid-gap: 20px;
}

.gallery__item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    max-height: 300px;
}

.gallery__link {
    width: 100%;
    height: 100%;
}

.gallery__item:nth-child(9n + 1) {
    grid-column-start: span 2;
}

.gallery__item:nth-child(9n + 2) {
    grid-column-start: span 2;
}

.gallery__item:nth-child(9n + 3) {
    grid-column-start: span 1;
}

.gallery__item:nth-child(9n + 4) {
    grid-column-start: span 2;
}

.gallery__item:nth-child(9n + 5) {
    grid-column-start: span 1;
}

.gallery__item:nth-child(9n + 6) {
    grid-column-start: span 2;
}

.gallery__item:nth-child(9n + 7) {
    grid-column-start: span 2;
}

.gallery__item:nth-child(9n + 8) {
    grid-column-start: span 1;
}

.gallery__item:nth-child(9n + 9) {
    grid-column-start: span 3;
}

.gallery__item figure {
    height: 100%;
    width: 100%;
    background: #000;
}

.gallery__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    transition: .3s;
}

.gallery__item:hover img {
    transform: scale(1.03);
    opacity: .3;
}

.gallery__item-description {
    position: absolute;
    object-fit: cover;
    padding: 0 10px;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .2s ease;
    /* transition: left .3s ease, right .3s ease, top .3s ease; */
    color: #fff;
    text-align: center;
    /* background: var(--color-secondary); */
    transform: translateY(-100%);
    width: 100%;
    opacity: 0;
    visibility: hidden;
}

.gallery__item:hover .gallery__item-description {

    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.gallery__item-description h4 {
    padding: 10px 0;
    /* font-size: 30px; */
    /* font-size: var(--fs-subtitle); */
    font-family: 'sketchup';
    font-weight: 400;
}

.gallery__item:hover h4 {
    font-size: 45px;
    /* font-family: 'sketchup';
    font-weight: 400; */
}